version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:        # <--- 追加
      - .env         # <--- 追加
    environment:     # <--- 修正: .envの値を使うように変数を指定するだけにする
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD

  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:        # <--- 追加
      - .env         # <--- 追加
    depends_on:
      - db

volumes:
  postgres_data: